In [1]:
import requests
from pandas.io.json import json_normalize
import pandas as pd

In [2]:
#Ouverture en Dataframe
URL = "/home/moi/Documents/Projet_movies/people-Alex-Cyprien.csv"
df = pd.read_csv(URL, sep=',')
print(df)

            Ref_name codes    Did       years        last_n          first_n  \
0              Aaron     D    PAa        1979         Aaron             Paul
1               Abel   DPW    JeA        1971          Abel           Jeanne
2             Abbott  AWDP    GgA  @1929-1958        Abbott           George
3           Abrahams    WD    xAb        1948      Abrahams              NaN
4         J.Abrahams    WD    JiA  @1980-1988      Abrahams              Jim
5     Jeffrey Abrams     W    NaN  @1991-1992        Abrams          Jeffrey
6           Abramson     D    NAb        1998      Abramson             Neil
7          Abduladze     D    TAb        1977     Abduladze           Tengiz
8           Abramson     D    NAb        1998      Abramson              Nel
9           Ackerman     D    RAA        1994      Ackerman     Robert Allan
10              Acub     D    NAA        1957          Acub       Nya' Abbas
11          Ken Adam     V    NaN   1947-1993          Adam              Ken
12           Adamson    DP    AlA   1969-1983       Adamson               Al
13             Addis     D    JuA  @1955-1957         Addis           Justus
14             Adler     D    GAe        1996         Adler           Gilber
15           C.Adler     D    CAd        1998         Adler           Carine
16             Adlon     D    PAd  @1981-1994         Adlon            Percy
17            Adolfi    AD    IGA  @1915-1933        Adolfi          John G.
18        Adomenaite     D    NyA        1991    Adomenaite           Niyole
19          Afredson     D    DAf        1993      Afredson           Daniel
20           Aguirre     D    MoA        1991       Aguirre            Monte
21        Fred Ahern     P    NaN         NaN         Ahern             Fred
22           Akerman     D    CAm  @1969-1993       Akerman          Chantal
23             Akkad     D    MAk        1976         Akkad         Mustapha
24          Alardice     W    NaN         NaN     Allardice            James
25              Alda   AWD    AAl  @1979-1986          Alda             Alan
26           Aldrich    DP    RoA  @1953-1981       Aldrich           Robert
27              Alea     D    TGA  @1964-1968          Alea  Tomas Gutierrez
28      Alessandrini     D    GoA        1942  Alessandrini         Goffredo
29         Alexander   WPD    JAx        1992     Alexander          Jourdon
...              ...   ...    ...         ...           ...              ...
3283        R.Zanuck     P    NaN   1957-1980        Zanuck       Richard D.
3284       Zarindast     D    ToZ  @1978-1982     Zarindast          Tony M.
3285      Zefferelli     D   FZe1  @1966-1996    Zefferelli           Franco
3286       Zeilinger    WD    JmZ        1990     Zeilinger            Jimmy
3287        Zemeckis    DW    RZe  @1981-1994      Zemeckis           Robert
3288      Zetterling    DW     MZ        1964    Zetterling              Mai
3289        YM.Zhang    CD    YMZ   1980-1992         Zhang           Yi Mou
3290         Y.Zhang     D    YZh  @1990-1998         Zuang             Yuan
3291            Zhou     D    XWZ        1997          Zhou          XioaWen
3292    Zhuangzhuang     D    TZz        1994  Zhuangzhuang             Tian
3293            Zidi     D    ClZ        1989          Zidi           Claude
3294        Ziegfeld    PA    NaN   1929-1932      Ziegfeld          Florenz
3295         Ziegler     P    NaN   1993-1994       Ziegler           Renate
3296           Zieff     D    HoZ  @1975-1994         Zieff           Howard
3297            Ziem     P  (HZi)        1974          Ziem           Howard
3298       Zimbalist     P    NaN        1951     Zimbalist              Sam
3299       Zimmerman     D    VeZ        1980     Zimmerman           Vernon
3300         Zincone     D    BZi        1988       Zincone            Bruno
3301        Zinneman     D     FZ  @1947-1982      Zinneman             Fred
3302            Zito     D    JZi       @1984          Zito           Joseph
3303           Zonca     D    EZo       @1999         Zonca            Erick
3304        D.Zondag     D    DZo        1993   Dick Zondag             Dick
3305         Zlotoff     D    DLZ        1996       Zlotoff        Lee David
3306        Zsigmond     C    NaN   1972-1994      Zsigmond           Vilmos
3307        J.Zucker    WD    JZu        1990        Zucker            Jerry
3308        D.Zucker   WPD    DZu        1991        Zucker            David
3309          Zuckor    PD     AZ        1913        Zuckor           Adolph
3310        Zugsmith    PD    AlZ        1960      Zugsmith           Albert
3311        Zulawski     D    AZu  @1985-1990      Zulawski          Andrzaj
3312           Zwick     D    EZw  @1989-1994         Zwick           Edward

       dob  bkgd
0      [1]    Un
1      NaN    Un
2     1887    Un
3      [1]    Un
4      NaN    Un
5     1967    Un
6      NaN    Un
7      NaN    Un
8      NaN    Un
9     19xx    Un
10     NaN    Un
11    1921    Un
12     [1]    Un
13     [1]   NaN
14     NaN    Un
15     NaN    Un
16     [1]    Un
17    1888  1933
18    19xx    Un
19    19xx    Un
20    19xx    Un
21     [1]   NaN
22    19xx    Un
23     [1]    Un
24     NaN    Un
25    1936    Un
26    1918  1983
27    1927  1996
28     [1]    Un
29    19xx    Un
...    ...   ...
3283  1934    Un
3284   [1]    Un
3285   NaN   NaN
3286   NaN    Un
3287   [1]    Un
3288   NaN   NaN
3289  1950    Un
3290  19xx    Un
3291   NaN    Un
3292  19xx    Un
3293  19xx    Un
3294  1867  1932
3295  19xx    Un
3296   NaN   NaN
3297   NaN    Un
3298  19xx    Un
3299   NaN    Un
3300   NaN    Un
3301  1907  1997
3302   NaN    Un
3303  1955    Un
3304  19xx    Un
3305   NaN  199x
3306   NaN    Un
3307   NaN    Un
3308   NaN    Un
3309  1873  1976
3310  19xx    Un
3311   NaN    Un
3312   NaN    Un

[3313 rows x 8 columns]

In [3]:
import qgrid
edit_df = qgrid.show_grid(df, show_toolbar=True)
edit_df

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defauâ€¦